<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-light button-outline" menu-toggle="left">
          <b>MENU</b>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">

      <div ng-if="getLogin()" layout="row" layout-align="space-around center" flex="100">
        <div layout="" class="">
          <img src="https://res.cloudinary.com/a0fzide/image/upload/v1458378358/iconWEM_rxpnuz.png" class=""  style="width:35px;height:35px;border-radius:50%;"/>
        </div>
        <div flex layout="column" class="padding-horizontal5" layout-align="space-between start">
          <b><big>login name</big></b>
          <small>facebook</small>
      </div>

        <div layout="row" class="padding-horizontal5" layout-align="space-between start">
          <button class="button button-small button-outline button-light" ng-click="setLogin();"><i class="icon ion-log-out"></i></button>
      </div>
      </div>


      <div ng-if="!getLogin()" layout="row" layout-align="space-around center" flex="100">
        <div flex layout="row" class="padding-horizontal5" layout-align="space-between start">
          <button class="button button-small button-positive button-block" ng-click="setLogin();"><i class="icon ion-social-facebook"></i> <b><big>LOGIN</big></b> </button>
      </div>
        <div flex layout="row" class="padding-horizontal5" layout-align="space-between start">
          <button class="button button-small button-assertive button-block" ng-click="setLogin();"><i class="icon ion-social-googleplus"> </i><b>LOGIN</b> </button>
      </div>
      </div>


    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          <i class="ion-music-note" style="font-size:120%;"></i> Seach
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          <i class="ion-android-list" style="font-size:120%;"></i> Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
