<ion-view view-title="Playlists">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-compose" ng-click="showPopup();"> New playlist
      </button>
  </ion-nav-buttons>
  <div class="bar bar-subheader" layout="row" layout-align="space-between center">
    <div>
<button class="button button-icon icon ion-android-remove-circle button-assertive button-clear"> <b>Delete</b></button>
    </div>
    <div>
      Maximum 5 playlist
    </div>
    <div>
<button class="button button-icon icon button-royal button-clear" layout="row"><span layout="column" layout-align="center center">
<i class="fa fa-angle-up" style="height:12px;"></i>
<i class="fa fa-angle-down"></i>
</span> &nbsp; <b>Reorder</b></button>
    </div>
</div>
  <ion-content class="has-subheader">
    <ion-list>
      <ion-item class="item" href="#/app/playlists/playlist/{{item}}" ng-repeat="item in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
      <div layout="row" layout-align="start start">
          <i class="icon ion-music-note" style="font-size:200%"/></i>

      <div class="padding-left5" layout="column" layout-align="space-between start">
        <h3 style="padding-top:3px;">Playlist {{item}}</h3>
        <h4 >Last update {{item}}</h4>
      </div>
      </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
