<ion-popover-view>
   <ion-header-bar>
       <h1 class = "title">เพิ่มเพลงนี้ในเพลย์ลิสต์</h1>
   </ion-header-bar>

   <ion-content>
      <ion-list>
<ion-item ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]" ng-click="closePopover()">
เพลย์ลิสต์ {{item}}
</ion-item>
</ion-list>
   </ion-content>
</ion-popover-view>
