<ion-view view-title="home">
  <ion-nav-title>
    <div class="bar bar-header item-input-inset" style="padding-bottom:0;padding-top:0;border:0;padding:0;">
      <md-autocomplete style="margin:0;position:absolute;width:100%;" md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMatches(searchText)" md-item-text="item.name" placeholder="ค้นหานักร้อง หรือชื่อเพลง" md-no-cache="true">
                <md-item-template>
                    <span>{{item.abbreviation}} - </span>
                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found.
                </md-not-found>
            </md-autocomplete>
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-shuffle-strong" ng-click="setAutocomplete()">
      </button>
  </ion-nav-buttons>
  <div class="bar bar-subheader" ng-if="!autocomplete">
    <div class="button-bar">
    <a class="button button-small button-dark button-outline" ng-click="changeSelect(1);" ng-class="{'active': select == 1 || select == undefined }"><b>Artist</b></a>
    <a class="button button-small button-dark button-outline" ng-click="changeSelect(2);" ng-class="{'active': select == 2}"><b>Music</b></a>
  </div>
</div>
  <ion-content ng-class="{'has-subheader': !autocomplete}">
    <div ng-if="autocomplete" style="margin: 0 80px;">
      <ion-list>
        <ion-item class="item-divider" ng-if="autocompleteSearchArtist.lenght != 0 && autocomplete">
          Artist
        </ion-item>
  <ion-item ng-repeat="item in autocompleteSearchArtist" ng-click="setAutocomplete()">
    {{item.name}}!
  </ion-item>
  <ion-item class="item-divider" ng-if="autocompleteSearchMusic.lenght != 0 && autocomplete">
      Music
  </ion-item>
<ion-item ng-repeat="item in autocompleteSearchMusic" ng-click="setAutocomplete()">
    {{item.name}}!
</ion-item>
</ion-list>
    </div>
    <div flex="100" layout="row" layout-align="center center" class="padding">
      ไม่มีเพลงที่คุณค้นหาในระบบ &nbsp;<button class="button button-small button-dark"> <b class="padding-horizontal">ขอเพลง</b> </button>&nbsp; เราจะเพิ่มเพลงที่คุณต้องการให้เร็วที่สุด
    </div>
    <div layout="row" layout-align="start start" layout-wrap ng-if="!autocomplete">
      <!-- Artist -->
      <div ng-show="getSelect(1)" flex="50" ng-repeat="list in artistData">
    <md-card>
        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{list.img}}"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{list.name}} <small>[key:{{list.key}}]</small></span>
            <span class="md-subhead">{{list.artistTH}} views:{{list.viewCount}}</span>
          </md-card-header-text>
           <md-card-actions class="margin0" layout="row" layout-align="end center">
             <md-button style="min-width:40px;" ng-click="popover.show($event)">
            <md-icon><img src="https://maxcdn.icons8.com/iOS7/PNG/25/Very_Basic/plus-25.png" title="Plus" width="25"></md-icon>
            </md-button>
          <md-button style="min-width:40px;" ng-href="#/app/song">
            <md-icon><img src="https://maxcdn.icons8.com/iOS7/PNG/25/Media_Controls/play_filled-25.png" title="Play Filled" width="25"></md-icon>
            </md-button>
        </md-card-actions>
        </md-card-header>
      </md-card>
      </div>

      <div ng-show="getSelect(2)" flex="50" ng-repeat="list in musicData">
    <md-card>
        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{list.img}}"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{list.name}} <small>[key:{{list.key}}]</small></span>
            <span class="md-subhead">{{list.artistTH}} views:{{list.viewCount}}</span>
          </md-card-header-text>
           <md-card-actions class="margin0" layout="row" layout-align="end center">
             <md-button style="min-width:40px;" ng-click="popover.show($event)">
            <md-icon><img src="https://maxcdn.icons8.com/iOS7/PNG/25/Very_Basic/plus-25.png" title="Plus" width="25"></md-icon>
            </md-button>
          <md-button style="min-width:40px;" ng-href="#/app/song">
            <md-icon><img src="https://maxcdn.icons8.com/iOS7/PNG/25/Media_Controls/play_filled-25.png" title="Play Filled" width="25"></md-icon>
            </md-button>
        </md-card-actions>
        </md-card-header>
      </md-card>
      </div>


      <div flex="100" layout="row" layout-align="start center" class="padding">
        <b>เพลงใกล้เคียง</b>
      </div>

      <div flex="50" ng-repeat="list in artistRelatedData">
    <md-card>
        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{list.img}}"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{list.name}} <small>[key:{{list.key}}]</small></span>
            <span class="md-subhead">{{list.artistTH}} views:{{list.viewCount}}</span>
          </md-card-header-text>
           <md-card-actions class="margin0" layout="row" layout-align="end center">
             <md-button style="min-width:40px;" ng-click="popover.show($event)">
            <md-icon><img src="https://maxcdn.icons8.com/iOS7/PNG/25/Very_Basic/plus-25.png" title="Plus" width="25"></md-icon>
            </md-button>
          <md-button style="min-width:40px;" ng-href="#/app/song">
            <md-icon><img src="https://maxcdn.icons8.com/iOS7/PNG/25/Media_Controls/play_filled-25.png" title="Play Filled" width="25"></md-icon>
            </md-button>
        </md-card-actions>
        </md-card-header>
      </md-card>
      </div>

      <div flex="100" layout="row" layout-align="start center" class="padding">
        <b>เพลงแนะนำ</b>
      </div>

      <div flex="50" ng-repeat="list in suggestedData">
    <md-card>
        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{list.img}}"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{list.name}} <small>[key:{{list.key}}]</small></span>
            <span class="md-subhead">{{list.artistTH}} views:{{list.viewCount}}</span>
          </md-card-header-text>
           <md-card-actions class="margin0" layout="row" layout-align="end center">
             <md-button style="min-width:40px;" ng-click="popover.show($event)">
            <md-icon><img src="https://maxcdn.icons8.com/iOS7/PNG/25/Very_Basic/plus-25.png" title="Plus" width="25"></md-icon>
            </md-button>
          <md-button style="min-width:40px;" ng-href="#/app/song">
            <md-icon><img src="https://maxcdn.icons8.com/iOS7/PNG/25/Media_Controls/play_filled-25.png" title="Play Filled" width="25"></md-icon>
            </md-button>
        </md-card-actions>
        </md-card-header>
      </md-card>
      </div>




      </div>

  </ion-content>
</ion-view>
