<ion-view view-title="Song">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-android-options" ng-click="popover.show($event);">
      </button>
  </ion-nav-buttons>
  <div class="bar bar-subheader row row-center">
        <div class=" row row-center padding0 item-input-inset" layout="row" layout-align="space-between center">
            <!--<div class="col col-30"></div>-->
           
			<div class=" buttons button-bar" flex="30" layout="row" layout-align="start center">
				<!--<font class="padding8">Key : </font>-->
  <a class="button button-dark" flex="25" ng-click="decrease()"><b class="fontXXL">-</b></a>
  <a class="button button-dark button-clear " flex><b class="">(A#m + 3) C#m</b></a>
  <a class="button button-dark" flex="25" ng-click="increase()"><b class="fontXXL">+</b></a>
            </div>
			 <div flex layout="row" layout-align="center center">Song Name</div>
			
			 <div class=" buttons button-bar" flex="30" layout="row" layout-align="end center">
<a class="button button-dark" flex="25"><b class="fontXXL">-</b></a>
  <a class="button button-dark button-clear " flex><b class="">Size</b></a>
  <a class="button button-dark" flex="25"><b class="fontXXL">+</b></a>
            </div>
           
</div>
    </div>
  <ion-content class="has-subheader">
    <ion-list>
      <div layout="column" layout-align="start start" class="padding8 margin-left8">
        <div layout="row" ng-repeat="line in music.Chord_lyric track by $index" layout-wrap layout-align="start start" ng-class="{'padding-left20': ($index%2)==1}">
            <div layout="column" ng-repeat="inline in line" layout-align="space-between start">
                <div layout="row" layout-align="start end">
                  <h6 class="margin0">{{getChord(inline.chord)}}<i ng-if="inline.chord == '' && inline.lyric != '' " ng-class="{'color-white': inline.chord == ''}">A</i></h6>
                </div>
                <div layout="row" layout-align="start end" ng-if="inline.lyric.length > 0">
                  <h5 class="margin0" style="padding-top:4px;padding-bottom:2px;" ng-hide="inline.lyric=='[advertise]'">{{inline.lyric}}</h5>
                </div>
            </div>
        </div>
    </div>
    </ion-list>
  </ion-content>
</ion-view>