<ion-modal-view>
  <!-- <ion-header-bar>


  </ion-header-bar> -->
  <div layout="row" layout-align="start start" class="bar bar-header card margin0" style="">
    <md-autocomplete flex="100" style="margin:0;"
        ng-disabled="ctrl.isDisabled"
        md-no-cache="ctrl.noCache"
        md-selected-item="ctrl.selectedItem"
        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
        md-search-text="ctrl.searchText"
        md-selected-item-change="ctrl.selectedItemChange(item)"
        md-items="item in ctrl.querySearch(ctrl.searchText)"
        md-item-text="item.display"
        md-min-length="0"
        placeholder="Enter your song name or artist name"
        ng-click="setAutocomplete()">
      <md-item-template>
        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
      </md-item-template>
      <!-- <md-not-found>
        No states matching "{{ctrl.searchText}}" were found.
        <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
      </md-not-found> -->
    </md-autocomplete>
  </div>
  <div class="bar bar-subheader" ng-if="!autocomplete">
    <div class="button-bar">
    <a class="button button-small button-dark button-outline" ng-click="changeSelect(1);" ng-class="{'active': select == 1 || select == undefined }"><b>Artist</b></a>
    <a class="button button-small button-dark button-outline" ng-click="changeSelect(2);" ng-class="{'active': select == 2}"><b>Music</b></a>
  </div>
</div>
  <ion-content ng-class="{'has-subheader': !autocomplete,'has-header':autocomplete}" style="">
    <div ng-if="autocomplete" style="">
      <ion-list>
  <ion-item ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]" ng-click="setAutocomplete()">
    Hello, {{item}}!
  </ion-item>
</ion-list>
    </div>
    <div ng-if="!autocomplete" layout="row" layout-align="start start" layout-wrap>

      <div ng-show="getSelect(1)" flex="100" ng-repeat="i in [1, 2, 3 ,4, 5]">
    <md-card  >
        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" src="https://res.cloudinary.com/a0fzide/image/upload/v1458378358/iconWEM_rxpnuz.png"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">Song title Artist tab</span>
            <span class="md-subhead">Artist</span>
          </md-card-header-text>
           <md-card-actions class="margin0" layout="row" layout-align="end center">
             <md-button style="min-width:35px;" ng-disabled="click" ng-click="click = !click">
               <md-icon><img src="https://maxcdn.icons8.com/iOS7/PNG/25/Very_Basic/plus-25.png" title="Plus" width="25"></md-icon>
               <font ng-show="!click">ADD to this playlist</font>
               <font ng-show="click">ADDED to this playlist</font>
            </md-button>
        </md-card-actions>
        </md-card-header>
      </md-card>
      </div>

      <div ng-show="getSelect(2)" flex="100" ng-repeat="i in [1, 2, 3 ,4, 5]">
    <md-card  >
        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" src="https://res.cloudinary.com/a0fzide/image/upload/v1458378358/iconWEM_rxpnuz.png"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">Song title Music tab</span>
            <span class="md-subhead">Artist</span>
          </md-card-header-text>
           <md-card-actions class="margin0" layout="row" layout-align="end center">
             <md-button style="min-width:35px;" ng-disabled="click" ng-click="click = !click">
               <md-icon><img src="https://maxcdn.icons8.com/iOS7/PNG/25/Very_Basic/plus-25.png" title="Plus" width="25"></md-icon>
               <font ng-show="!click">ADD to this playlist</font>
               <font ng-show="click">ADDED to this playlist</font>
            </md-button>
        </md-card-actions>
        </md-card-header>
      </md-card>
      </div>
      </div>
  </ion-content>
</ion-modal-view>
