<ion-view view-title="Playlist">

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon" ng-click="modal.show();">
      <i class="ion-android-add-circle"></i> Add Song
      </button>
  </ion-nav-buttons>
      <div class="bar bar-subheader" layout="row" layout-align="space-between center">
        <div>
  <button class="button button-icon icon ion-android-remove-circle button-assertive button-clear"> <b>Delete</b></button>
        </div>
        <div>
  <button class="button button-icon icon ion-ios-shuffle-strong button-positive button-clear"> <b>Shuffle</b></button>
        </div>
        <div>
  <button class="button button-icon icon button-royal button-clear" layout="row"><span layout="column" layout-align="center center">
  <i class="fa fa-angle-up" style="height:12px;"></i>
  <i class="fa fa-angle-down"></i>
</span> &nbsp; <b>Reorder</b></button>
        </div>
</div>
  <ion-content class="has-subheader">

    <ion-list show-reorder="false" show-delete="false">

      <ion-item class="item" href="#/app/playlists/playlist/{{item}}/songs/{{item}}" ng-repeat="item in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
        <ion-delete-button class="ion-minus-circled"></ion-delete-button>
              <div layout="row" layout-align="start start">
          <i class="icon ion-music-note" style="font-size:200%"/></i>

      <div class="padding-left5" layout="column" layout-align="space-between start">
        <h3 style="padding-top:3px;">Playlist {{item}}</h3>
        <h4 >Playlist {{item}}</h4>
      </div>
      </div>
        <ion-reorder-button class="button button-royal button-small"
                        on-reorder="moveItem(item, $fromIndex, $toIndex)">
                        <span layout="column" layout-align="center center">
  <i class="fa fa-angle-up" style="height:20px;"></i>
  <i class="fa fa-angle-down"></i>
</span>
    </ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
