
/* Empty. Add your own CSS if you like */
.img-responsive {
    max-width: 100%;
    height: auto;
}
/* Empty. Add your own CSS if you like */
.margin0 {
    margin: 0px;
}
.margin5 {
    margin: 5px;
}
.margin8 {
    margin: 8px;
}
.margin10 {
    margin: 10px;
}
.margin15 {
    margin: 15px;
}
.margin16 {
    margin: 16px;
}
.margin20 {
    margin: 20px;
}
.margin24 {
    margin: 24px;
}
.margin-left0 {
    margin-left: 0px;
}
.margin-left5 {
    margin-left: 5px;
}
.margin-left8 {
    margin-left: 8px;
}
.margin-left10 {
    margin-left: 10px;
}
.margin-left15 {
    margin-left: 15px;
}
.margin-left16 {
    margin-left: 16px;
}
.margin-left20 {
    margin-left: 20px;
}
.margin-left24 {
    margin-left: 24px;
}
.margin-right0 {
    margin-right: 0px;
}
.margin-right5 {
    margin-right: 5px;
}
.margin-right8 {
    margin-right: 8px;
}
.margin-right10 {
    margin-right: 10px;
}
.margin-right15 {
    margin-right: 15px;
}
.margin-right16 {
    margin-right: 16px;
}
.margin-right20 {
    margin-right: 20px;
}
.margin-right24 {
    margin-right: 24px;
}
.margin-top0 {
    margin-top: 0px;
}
.margin-top5 {
    margin-top: 5px;
}
.margin-top8 {
    margin-top: 8px;
}
.margin-top10 {
    margin-top: 10px;
}
.margin-top15 {
    margin-top: 15px;
}
.margin-top16 {
    margin-top: 16px;
}
.margin-top20 {
    margin-top: 20px;
}
.margin-top24 {
    margin-top: 24px;
}
.margin-bottom0 {
    margin-bottom: 0px;
}
.margin-bottom5 {
    margin-bottom: 5px;
}
.margin-bottom8 {
    margin-bottom: 8px;
}
.margin-bottom10 {
    margin-bottom: 10px;
}
.margin-bottom15 {
    margin-bottom: 15px;
}
.margin-bottom16 {
    margin-bottom: 16px;
}
.margin-bottom20 {
    margin-bottom: 20px;
}
.margin-bottom24 {
    margin-bottom: 24px;
}
.margin-vertical0 {
    margin-top: 0px;
    margin-bottom: 0px; 
}
.margin-horizontal0 {
    margin-left: 0px;
    margin-right: 0px;
}
.margin-vertical5 {
    margin-top: 5px;
    margin-bottom: 5px; 
}
.margin-horizontal5 {
    margin-left: 5px;
    margin-right: 5px;
}
.margin-vertical8 {
    margin-top: 8px;
    margin-bottom: 8px; 
}
.margin-horizontal8 {
    margin-left: 8px;
    margin-right: 8px;
}
.margin-vertical10 {
    margin-top: 10px;
    margin-bottom: 10px; 
}
.margin-horizontal10 {
    margin-left: 10px;
    margin-right: 10px;
}
.margin-vertical15 {
    margin-top: 15px;
    margin-bottom: 15px; 
}
.margin-horizontal15 {
    margin-left: 15px;
    margin-right: 15px;
}
.margin-vertical16 {
    margin-top: 16px;
    margin-bottom: 16px; 
}
.margin-horizontal16 {
    margin-left: 16px;
    margin-right: 16px;
}
.margin-vertical20 {
    margin-top: 20px;
    margin-bottom: 20px; 
}
.margin-horizontal20 {
    margin-left: 20px;
    margin-right: 20px;
}
.margin-vertical24 {
    margin-top: 24px;
    margin-bottom: 24px; 
}
.margin-horizontal24 {
    margin-left: 24px;
    margin-right: 24px;
}
/* Empty. Add your own CSS if you like */
.padding0 {
    padding: 0px;
}
.padding5 {
    padding: 5px;
}
.padding8 {
    padding: 8px;
}
.padding10 {
    padding: 10px;
}
.padding15 {
    padding: 15px;
}
.padding16 {
    padding: 16px;
}
.padding20 {
    padding: 20px;
}
.padding24 {
    padding: 24px;
}
.padding-left0 {
    padding-left: 0px;
}
.padding-left5 {
    padding-left: 5px;
}
.padding-left8 {
    padding-left: 8px;
}
.padding-left10 {
    padding-left: 10px;
}
.padding-left15 {
    padding-left: 15px;
}
.padding-left16 {
    padding-left: 16px;
}
.padding-left20 {
    padding-left: 20px;
}
.padding-left24 {
    padding-left: 24px;
}
.padding-right0 {
    padding-right: 0px;
}
.padding-right5 {
    padding-right: 5px;
}
.padding-right8 {
    padding-right: 8px;
}
.padding-right10 {
    padding-right: 10px;
}
.padding-right15 {
    padding-right: 15px;
}
.padding-right16 {
    padding-right: 16px;
}
.padding-right20 {
    padding-right: 20px;
}
.padding-right24 {
    padding-right: 24px;
}
.padding-top0 {
    padding-top: 0px;
}
.padding-top5 {
    padding-top: 5px;
}
.padding-top8 {
    padding-top: 8px;
}
.padding-top10 {
    padding-top: 10px;
}
.padding-top15 {
    padding-top: 15px;
}
.padding-top16 {
    padding-top: 16px;
}
.padding-top20 {
    padding-top: 20px;
}
.padding-top24 {
    padding-top: 24px;
}
.padding-bottom0 {
    padding-bottom: 0px;
}
.padding-bottom5 {
    padding-bottom: 5px;
}
.padding-bottom8 {
    padding-bottom: 8px;
}
.padding-bottom10 {
    padding-bottom: 10px;
}
.padding-bottom15 {
    padding-bottom: 15px;
}
.padding-bottom16 {
    padding-bottom: 16px;
}
.padding-bottom20 {
    padding-bottom: 20px;
}
.padding-bottom24 {
    padding-bottom: 24px;
}
.padding-vertical0 {
    padding-top: 0px;
    padding-bottom: 0px; 
}
.padding-horizontal0 {
    padding-left: 0px;
    padding-right: 0px;
}
.padding-vertical5 {
    padding-top: 5px;
    padding-bottom: 5px; 
}
.padding-horizontal5 {
    padding-left: 5px;
    padding-right: 5px;
}
.padding-vertical8 {
    padding-top: 8px;
    padding-bottom: 8px; 
}
.padding-horizontal8 {
    padding-left: 8px;
    padding-right: 8px;
}
.padding-vertical10 {
    padding-top: 10px;
    padding-bottom: 10px; 
}
.padding-horizontal10 {
    padding-left: 10px;
    padding-right: 10px;
}
.padding-vertical15 {
    padding-top: 15px;
    padding-bottom: 15px; 
}
.padding-horizontal15 {
    padding-left: 15px;
    padding-right: 15px;
}
.padding-vertical16 {
    padding-top: 16px;
    padding-bottom: 16px; 
}
.padding-horizontal16 {
    padding-left: 16px;
    padding-right: 16px;
}
.padding-vertical20 {
    padding-top: 20px;
    padding-bottom: 20px; 
}
.padding-horizontal20 {
    padding-left: 20px;
    padding-right: 20px;
}
.padding-vertical24 {
    padding-top: 24px;
    padding-bottom: 24px; 
}
.padding-horizontal24 {
    padding-left: 24px;
    padding-right: 24px;
}
.height30 {
    height: 30px;
}
.height40 {
    height: 40px;
}
.height50 {
    height: 50px;
}
.height60 {
    height: 60px;
}
.height70 {
    height: 70px;
}
.height80 {
    height: 80px;
}
.height90 {
    height: 90px;
}
.height100 {
    height: 100px;
}
.height120 {
    height: 120px;
}
.height150 {
    height: 150px;
}
.height180 {
    height: 180px;
}
.height200 {
    height: 200px;
}
.height220 {
    height: 220px;
}
.height250 {
    height: 250px;
}
.height280 {
    height: 280px;
}
.height300 {
    height: 300px;
}
.height350 {
    height: 350px;
}
.height400 {
    height: 400px;
}
.height450 {
    height: 450px;
}
.height500 {
    height: 500px;
}
.width30 {
    width: 30px;
}
.width40 {
    width: 40px;
}
.width50 {
    width: 50px;
}
.width60 {
    width: 60px;
}
.width70 {
    width: 70px;
}
.width80 {
    width: 80px;
}
.width90 {
    width: 90px;
}
.width100 {
    width: 100px;
}
.width120 {
    width: 120px;
}
.width150 {
    width: 150px;
}
.width180 {
    width: 180px;
}
.width200 {
    width: 200px;
}
.width220 {
    width: 220px;
}
.width250 {
    width: 250px;
}
.width280 {
    width: 280px;
}
.width300 {
    width: 300px;
}
.width350 {
    width: 350px;
}
.width400 {
    width: 400px;
}
.width450 {
    width: 450px;
}
.width500 {
    width: 500px;
}
.left-padding {
    padding: 0 0 0 10px;
}
.right-padding {
    padding: 0 10px 0 0;
}
.bottom-padding {
    padding: 0 0 10px 0;
}
.top-padding {
    padding: 10px 0 0 0;
}
.left-padding20 {
    padding: 0 0 0 20px;
}
.right-padding20 {
    padding: 0 20px 0 0;
}
.bottom-padding20 {
    padding: 0 0 20px 0;
}
.top-padding20 {
    padding: 20px 0 0 0;
}
.no-padding {
    padding: 0 0 0 0;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.left-margin5 {
    margin: 0 0 0 5px;
}
.right-margin5 {
    margin: 0 5px 0 0;
}
.bottom-margin5 {
    margin: 0 0 5px 0;
}
.top-margin5 {
    margin: 5px 0 0 0;
}
.left-margin20 {
    margin: 0 0 0 20px;
}
.right-margin20 {
    margin: 0 20px 0 0;
}
.bottom-margin20 {
    margin: 0 0 20px 0;
}
.top-margin20 {
    margin: 20px 0 0 0;
}
.wrap {
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
}
.round-circle{
    border-radius: 100%; 
}
.fontSS {
    font-size: 40%;
}
.fontS {
    font-size: 60%;
}
.fontM {
    font-size: 80%;
}
.fontL {
    font-size: 120%;
}
.fontXL {
    font-size: 140%;
}
.fontXXL {
    font-size: 160%;
}
.border-light1 {
    border:solid 1px #cccccc;
}

.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.z-index1 {
    z-index: 1;
}
.opacity02 {
    opacity: 0.2;
}
.opacity04 {
    opacity: 0.4;
}
.opacity06 {
    opacity: 0.6;
}
.opacity08 {
    opacity: 0.8;
}

.vertical-gradient-black {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.9) 90%
    );
}
.center-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.circle{
    width:50px;
    height:50px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:50px;
    text-align:center;
    background-color:#707372;
}

.circle-small{
    width:35px;
    height:35px;
    border-radius:35px;
    font-size:18px;
    color:#fff;
    line-height:35px;
    text-align:center;
    background-color:#707372;
}
.overflow-scroll{
    position: inherit;
}

.color-white {
    color:white;
}
.color-black {
    color:black;
}