<ion-view view-title="Songs">
<ion-content scroll="false">
<div layout="row" layout-align="start start" layout-fill style="">
<div layout="column" layout-fill layout-align="start start" style="width:150px;border-right:1px solid #cccccc;">
  <div flex layout="row" layout-fill>

      <div class="list" style="width:150px;">

  <div class="item-divider padding-horizontal" style="border:1px solid #cccccc;">
    1 / {{[1,2,3,4,5,6,7,8,9,10].length}} รายชื่อเพลง
  </div>
<ion-scroll flex>
  <a class="item padding5" ng-class="{'item-dark': $index == 1}" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10] track by $index" layout="row">
    <div layout="column" layout-align="center center" style="width:25px;">
      <i class="ion-android-arrow-dropright-circle" style="font-size:25px;"></i>
    </div>
    <div layout="column">
    <h3 ng-class="{'light': $index == 1 }" style="padding-top:3px;">ชื่อเพลง</h3>
    <h4 ng-class="{'light': $index == 1 }">นักร้อง</h4>
    </div>
  </a>
</ion-scroll>

</div>

    </div>

  <div flex layout="row" layout-fill>

      <div class="list" style="width:150px;">

  <div class="item-divider padding-horizontal" style="border:1px solid #cccccc;">
    1 / {{[1,2,3,4,5,6,7,8].length}} เพลงแนะนำ
    <!-- และส่วนของคนขอเพลง -->
  </div>
<ion-scroll flex>
  <a class="item padding5" ng-class="{'item-dark': $index == 1}" ng-repeat="i in [1,2,3,4,5,6,7,8] track by $index" layout="row">
    <div layout="column" layout-align="center center" style="width:25px;">
      <i class="ion-android-arrow-dropright-circle" style="font-size:25px;"></i>
    </div>
    <div layout="column">
    <h3 ng-class="{'light': $index == 1 }" style="padding-top:3px;">ชื่อเพลง</h3>
    <h4 ng-class="{'light': $index == 1 }">นักร้อง</h4>
    </div>
  </a>
</ion-scroll>

</div>

    </div>
</div>
  <div class="" flex="67" style="position:inherit;" layout="column" layout-fill>
    <div class=" row row-center item-input-inset" layout="row" layout-align="space-between center" style="border-bottom:solid 1px #cccccc;">
        <!--<div class="col col-30"></div>-->

    <div class=" buttons button-bar" flex="30" layout="row" layout-align="start center">
    <!--<font class="padding8">Key : </font>-->
    <a class="button button-dark button-small" flex="25" ng-click="decrease()"><b class="fontXXL">-</b></a>
    <a class="button button-dark button-clear button-small" flex><b class="">(A#m + 3) C#m</b></a>
    <a class="button button-dark button-small" flex="25" ng-click="increase()"><b class="fontXXL">+</b></a>
        </div>
    <div flex layout="row" layout-align="center center">Song Name</div>

    <div class=" buttons button-bar" flex="30" layout="row" layout-align="end center">
    <a class="button button-dark button-small" flex="25" ><b class="fontXXL">-</b></a>
    <a class="button button-dark button-clear button-small" flex><b class="">Size</b></a>
    <a class="button button-dark button-small" flex="25" ><b class="fontXXL">+</b></a>
        </div>

    </div>
    <ion-scroll flex>

      <div layout="column" layout-align="start start" class="padding8 margin-left8" style=";">
        <div layout="row" ng-repeat="line in music.Chord_lyric track by $index" layout-wrap layout-align="start start" ng-class="{'padding-left20': ($index%2)==1}">
            <div layout="column" ng-repeat="inline in line" layout-align="space-between start">
                <div layout="row" layout-align="start end">
                  <h6 class="margin0">{{getChord(inline.chord)}}<i ng-if="inline.chord == '' && inline.lyric != '' " ng-class="{'color-white': inline.chord == ''}">A</i></h6>
                </div>
                <div layout="row" layout-align="start end" ng-if="inline.lyric.length > 0">
                  <h5 class="margin0" style="padding-top:4px;padding-bottom:2px;" ng-hide="inline.lyric=='[advertise]'">{{inline.lyric}}</h5>
                </div>
            </div>
        </div>
    </div>
  </ion-scroll>
    </div>
  </div>
  </ion-content>

</ion-view>
